body{
    margin: 0;
    padding: 0;    
    height: 100%;
    background-color: rgb(77, 78, 84);
    font-family: 'Nunito', sans-serif;
}

.align-center{
    text-align: center;
}

.header{
    color: white;
}

.container{
    background-color: white;
    padding: 20px;
    margin-top: 25vh;
    margin-left: 30vh;
    margin-right: 30vh;
    border-radius: 25px;

}

input[type=text] {
    border: 2px solid;
    border-radius: 4px;
  }

button {
    background-color: black;
    border-radius: 5px;
    color: white;
}
  
p{
    text-decoration: underline;
}